.input{
    background-color: rgb(212, 109, 109);
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    gap: 1.5rem;
}
.input h1{
    color: rgb(13, 2, 43);
    font-size: 3rem;
    animation: heading 4s linear infinite;
}
@keyframes heading {
    0%{
        color: rgb(195, 237, 9);
    }
    50%{
        color: rgb(10, 164, 241);
    }
    100%{
        color: rgb(29, 243, 18);
    }
}
.input textarea{
    width: 80%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.7rem;
    color: blue;
    min-height: 5rem;
}
/* .input div{
    display: flex;
    flex-direction: column;
} */
.input .btn{
    padding: 0.7rem;
    border-radius: 0.5rem;
    border:2px solid blue;
    cursor: pointer;
    color: blue;
    font-size: 1rem;
}
.input .btn:hover{
    color: black;
    background-color: gray;
    border: 2px solid gray;
}